[submodule "Carthage/Checkouts/Argo"]
	path = Carthage/Checkouts/Argo
	url = https://github.com/thoughtbot/Argo.git
[submodule "Carthage/Checkouts/CocoaAsyncSocket"]
	path = Carthage/Checkouts/CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
[submodule "Carthage/Checkouts/Curry"]
	path = Carthage/Checkouts/Curry
	url = https://github.com/thoughtbot/Curry.git
[submodule "Carthage/Checkouts/Dwifft"]
	path = Carthage/Checkouts/Dwifft
	url = https://github.com/elliottwilliams/Dwifft.git
[submodule "Carthage/Checkouts/GHODictionary"]
	path = Carthage/Checkouts/GHODictionary
	url = https://github.com/elliottwilliams/GHODictionary.git
[submodule "Carthage/Checkouts/MPMessagePack"]
	path = Carthage/Checkouts/MPMessagePack
	url = https://github.com/elliottwilliams/MPMessagePack.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/ReactiveCocoa"]
	path = Carthage/Checkouts/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Carthage/Checkouts/SocketRocket"]
	path = Carthage/Checkouts/SocketRocket
	url = https://github.com/facebook/SocketRocket.git
[submodule "Carthage/Checkouts/MDWamp"]
	path = Carthage/Checkouts/MDWamp
	url = https://github.com/elliottwilliams/MDWamp.git
[submodule "Colours"]
	path = Colours
	url = https://github.com/bennyguitar/Colours.git
