#github "Colours/Swift"
github "mogui/MDWamp"
github "ReactiveCocoa/ReactiveCocoa" ~> 4.2.1
github "thoughtbot/Curry"
github "thoughtbot/Argo"
github "thoughtbot/Runes"
github "jflinter/Dwifft" ~> 0.3.1

git "file:///Users/herooftime/Dropbox/Proper Shark/Memoize"
# TODO: switch to github repo
#github "propershark/memoize"
